.ContainerAside {
  padding: 2rem 1rem 0;
}

.asideTitle {
  position: relative;
}

.asideTitle::before {
  content: '';
  height: 5px;
  width: 20%;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  bottom: -40%;
}
