.Navbar{
  width: 100%;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
  border-bottom: 1px solid #88888854;
  flex-wrap: wrap;
}

.Navbar a{
  position: relative;
  transition: color 400ms ease-in-out;
}

.Navbar a:hover{
  position: relative;
  color: red;
}

.Navbar a::before{
  content: "";
  height: 5px;
  width: 0;
  background-color: red;
  position: absolute;
  bottom: -60%;
  right: 50%;
  transition: width 400ms ease-in-out;
}

.Navbar a:hover::before{
  content: "";
  height: 5px;
  width: 60%;
  background-color: red;
  position: absolute;
  bottom: -60%;
  
}

.Navbar a::after{
  content: "";
  height: 5px;
  width: 0;
  background-color: red;
  position: absolute;
  bottom: -60%;
  left: 50%;
  transition: width 400ms ease-in-out;
  
}


.Navbar a:hover::after{
  content: "";
  height: 5px;
  width: 60%;
  background-color: red;
  position: absolute;
  bottom: -60%;
}

a.active::before{
  content: "";
  height: 5px;
  width: 60%;
  background-color: red;
  position: absolute;
  bottom: -60%;
  border-radius: 10px;
}

a.active::after{
  content: "";
  height: 5px;
  width: 60%;
  background-color: red;
  position: absolute;
  bottom: -60%;
}

 
.logoContainer{
  position: relative;
  width: 300px;
  height: 150px;
  margin: 2rem auto 0;
}

a.active{
  color: red;
  font-size: 1.2rem;
  position: relative;
}
