.cardWrapper{
  margin: 3.3rem auto;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid #d2d7df;
}


.buttonCard{
  display: block;
  border: none;
  background-color: rgb(89, 94, 246);
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 50px;
  margin: 2rem auto;
  cursor: pointer;
  transition: background-color 400ms ease-in-out, box-shadow 400ms ease-in-out,
  color 400ms ease-in-out;
  border: 1px solid rgb(89, 94, 246);
  box-shadow: 0px 10px 20px 4px rgb(89 96 255 / 35%);
}

.buttonCard:hover{
  color: white;
  background-color: rgb(57, 56, 56);
  border: 1px solid rgb(57, 56, 56);
  box-shadow: none;
}

.textImgWrapper{
  position: absolute;
  bottom: 0;
  text-align: left;
  z-index: 4;
  width: 100%;
  padding: 20px;
  word-wrap: break-word;
}

.title span{
  background-color: white;
  padding-inline: 0.3rem;
}

.tag{
  display: inline-block;
  background-color: red;
  color: white;
  margin-right: 0.5rem;
  margin-block: 0.5rem;
  padding: 0.3rem;
  border-radius: 3px;
}

.imageWrapper{
  position: relative;
  width: 100%;
  margin: 0 auto;
  min-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 3px 10px 0px rgb(52 53 54 / 24%);
}

.imageWrapper img{
  transition: transform 500ms ease-in-out;
}

.imageWrapper:hover img{
  transform: scale(1.07)
}

.PostContent{
  color: #656363c2;
  margin-block: 2rem;
}