.socialContainer{
  width: 80%;
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  padding-block: 2rem;
}

.socialContainer > *{
  margin-block: 1rem;
  margin-inline: 0.5rem;
}

.socialContainer h3{
  font-size: 2rem;
}