.tagContainer {
  padding: 1rem 2rem 0;
}

.tagsTitle {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
}

.tagsTitle::before {
  content: '';
  height: 5px;
  width: 20%;
  border-radius: 10px;
  background-color: red;
  position: absolute;
  bottom: -40%;
}

.tags {
  display: inline-block;
  margin: 0.2rem;
  border: 1px solid #d3d3ed;
  color: #2b2b2c;
  padding: 0.7rem 1rem;
  font-size: 0.9rem;
  border-radius: 50px;
  font-weight: bold;
  letter-spacing: 2px;
}

.tags:hover {
  background-color: #d3d3ed;
  color: white;
}

.tagsList {
  margin-block: 2rem;
}
